<div>
    <form [formGroup]="todoForm" (ngSubmit)="addTodo()">

        <mat-form-field appearance="outline">
            <mat-label>Description</mat-label>
            <input matInput placeholder="Description" formControlName="description" required>
          </mat-form-field>
          
          <mat-form-field  appearance="outline">
            <mat-label>Priority</mat-label>
            <mat-select formControlName="priority">
              <mat-option *ngFor="let item of priorityValues" [value]="item">{{item}}</mat-option>
            </mat-select>
          </mat-form-field>

          <button mat-button color="primary" type="submit" [disabled]="this.todoForm.invalid">Add Task</button>
    </form>
</div>